<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.seulki_lee.myapplication" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Statistic_Activity"
            android:label="Statistic"></activity>
        <activity android:name=".Plan_Activity"
            android:label="Plan"></activity>
        <activity android:name=".Record_Activity"
            android:label="Record"></activity>
        <activity android:name=".Recording_Activity"
            android:label="Recording"></activity>
        <activity android:name=".Wish_Activity"
            android:label="Wish"></activity>

    </application>

</manifest>
